.articleList {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 48px;

	.articleBox {
		margin-bottom: 42px;
		list-style: none;
		@include flex_center($direction: row-reverse, $content: flex-end);
		a {
			text-decoration: none;
		}
		.time {
			width: 120px;
			flex-shrink: 0;
			margin-right: 12px;
			color: $font_tint_color_1;
		}
		.classify {
			margin-right: 12px;
		}
		.tags {
			margin-right: 4px;
		}
	}
	.articleBox:hover {
		list-style-type: "📃";
	}
}

@media (max-width: 900px) {
	.articleList {
		width: 100%;
		.articleBox {
			list-style: none;
			@include flex_center($items: flex-start);
			a {
				margin: 4px 0;
				.title {
					font-size: 1.1rem;
				}
			}
			.time {
				font-size: 0.9rem;
			}
		}
	}
}
