.articleList {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 48px;

	.articleBox {
		margin-bottom: 42px;
		@include flex_center($items: flex-start);
		.info {
			display: flex;
			.time {
				width: 110px;
				margin-right: 12px;
			}
			a {
				color: #ffffff;
				@include flex_center($items: flex-start);
				> div {
					display: flex;
					.title {
						margin-right: 12px;
					}
				}
			}
		}
		.categories, .description {
			margin-left: 122px;
		}
		.categories {
			margin-top: 4px;
		}
		.description {
			color: $font_tint_color_1;
		}
	}
}

@media (max-width: 900px) {
	.articleList {
		width: 100%;
		.articleBox {
			list-style: none;
			@include flex_center($items: flex-start);
			a {
				margin: 4px 0;
				.title {
					font-size: 1.1rem;
				}
			}
			.time {
				font-size: 0.9rem;
			}
		}
	}
}
