.articleList {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 48px;

    .article {
        margin-bottom: 24px;
        a {
            color: #ffffff;
            text-decoration: none;
            .head {
                @include flex_center($direction: row, $content: flex-start, $items: center);
                .title {
                    font-size: 1.2rem;
                }
                .time {
                    display: flex;
                    margin: 0 12px;
                    color: $font_tint_color_1;
                }
            }
            .description {
                color: $font_tint_color_1;
            }
        }
    }
}

@media (max-width: 900px) {
    .articleList {
        width: 100%;
    }
}
