.exerciseBlock {
    padding-top: 48px;
    position: relative;
    .category {
        position: absolute;
        top: 24px;
        left: -42px;
        z-index: -1;
        font-size: 3rem;
        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px $font_tint_color_1;
    }
    .exerciseList {
        margin-bottom: 24px;
        a {
            color: #ffffff;
            text-decoration: none;
            .title {
                font-size: 1.2rem;
            }
            .time {
                display: flex;
                color: $font_tint_color_1;
            }
        }
    }
}

@media (max-width: 900px) {
    .exerciseBlock {
        .category {
            left: 0;
        }
    }
}