.wish_target {
	width: 50vw;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 32px;
	> div {
		margin-bottom: 32px;
		span {
			font-size: 1.6rem;
		}
		ul {
			margin-top: 12px;
			li {
				list-style-type: "✒️ ";
				font-size: 1.1rem;
			}
		}
		p {
			font-size: 1.1rem;
		}
	}
}

@media (max-width: 900px) {
	.wish_target {
		width: calc(100vw - 40px);
		padding: 0 20px;
		> div {
			p {
				font-size: 1rem;
			}
		}
	}
}
