@mixin flex_center($direction: column, $content: center, $items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

// @mixin noselect {
//     /* iOS Safari */
//     -webkit-touch-callout: none;
//     /* Chrome/Safari/Opera */
//     -webkit-user-select: none;
//     /* Konqueror */
//     -khtml-user-select: none;
//     /* Firefox */
//     -moz-user-select: none;
//     /* Internet Explorer/Edge */
//     -ms-user-select: none;
//     /* Non-prefixed version, currently not supported by any browser */
//     user-select: none;
// }

// @mixin themeify {
//     @each $theme-name, $theme-map in $themes {
//         $theme-map: $theme-map !global;
//         [class="#{$theme-name}"] & {
//             @content;
//         }
//     }
// }

// @function themed($key) {
//     @return map-get($theme-map, $key);
// }

// // 获取背景颜色
// @mixin background_color($color) {
//     @include themeify {
//         background-color: themed($color);
//     }
// }
// // 获取边框颜色
// @mixin border_color($color, $height: 1px) {
//     @include themeify {
//         border: $height solid themed($color);
//     }
// }

// @mixin border_top_color($color, $height: 1px) {
//     @include themeify {
//         border-top: $height solid themed($color);
//     }
// }

// @mixin border_bottom_color($color, $height: 1px) {
//     @include themeify {
//         border-bottom: $height solid themed($color);
//     }
// }
// // 获取字体颜色
// @mixin font_color($color) {
//     @include themeify {
//         color: themed($color);
//     }
// }
// // 获取字体阴影颜色
// @mixin font_shadow($color) {
//     @include themeify {
//         text-shadow: themed($color);
//     }
// }
// // 获取盒子阴影颜色
// @mixin box_shadow($color) {
//     @include themeify {
//         box-shadow: themed($color);
//     }
// }
