$background_color: #091a28;
$background_tint_color_1: rgba(#091a28, 0.75);
$background_tint_color_2: rgba(#091a28, 0.5);
$background_tint_color_3: rgba(#091a28, 0.25);
$font_color: #ebf4f1;
$font_tint_color_1: rgba(#ebf4f1, 0.75);
$font_tint_color_2: rgba(#ebf4f1, 0.5);
$font_tint_color_3: rgba(#ebf4f1, 0.25);
$border_color: #bbb3;
