.articleContent {
	> div {
		* {
			color: #d7ddf1;
		}

		blockquote {
			margin: 12px 0;
			padding: 12px 24px;
			border-left: 4px solid #f4c992;
			font-size: 0.9rem;
			p {
				margin: 0;
				line-height: calc(0.8rem + 4px);
			}
		}
		p {
			margin: 24px 0;
			line-height: 32px;
		}
		pre {
			margin: 12px 0;
			padding: 24px;
			background-color: #041420;
			border-radius: 12px;
			overflow: scroll;
			overflow-y: hidden;
			code {
				margin: 0;
				padding: 0;
				background-color: transparent;
				font-size: 0.8rem;
			}
			code::after {
				content: "";
			}
			code::before {
				content: "";
			}
		}
		pre::-webkit-scrollbar {
			height: 0px;
		}
		code {
			margin: 0 4px;
			padding: 2px 4px;
			border-radius: 4px;
			color: #ffffff;
			font-size: 0.9rem;
		}
		code::before {
			content: "{ ";
		}
		code::after {
			content: " }";
		}

		img {
			width: 100%;
			height: auto;
			margin: 24px 0;
			border-radius: 12px;
		}
		img:hover {
			scale: 1.1;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #ffffff;
			a {
				color: #ffffff;
				text-decoration: none;
				pointer-events: none;
			}
		}
		h1 {
			padding-bottom: 4px;
			border-bottom: 1px dashed #ffffff;
		}
		ul {
			margin: 24px;
			li {
				margin: 8px 0;
			}
		}
	}
}

@media (max-width: 900px) {
	.articleContent {
		blockquote {
			p {
				font-size: 0.7rem;
			}
		}
		p {
			font-size: 0.8rem;
		}
		pre {
			code {
				font-size: 0.6rem !important;
			}
		}
		code {
			font-size: 0.7rem !important;
		}
	}
}
