.articleContent {
	* {
		font-family: JB-Medium;
	}
	h1 {
		font-size: 26px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 20px;
	}
	h1,
	h2,
	h3,
	h4 {
		margin-top: 40px;
		margin-bottom: 16px;
		line-height: 140%;
		a {
			margin: 0;
			text-decoration: none;
			color: #ffffff;
			border-bottom: none;
		}
		a:hover {
			border-bottom: none;
		}
	}

	p {
		margin: 0 0 10px 0;
		line-height: 30px;
		a {
			text-decoration: none;
		}
		img {
			margin: 0;
		}
	}
	a {
		margin: 0 4px;
		border-bottom: 1px solid $themeColor1;
		text-wrap: wrap;
		word-break: break-all;
	}
	a:hover {
		border-bottom: 1px solid $themeColor2;
	}

	ul,ol {
		margin: 40px auto;
		padding: 0 26px;

		li {
			margin: 10px 0;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
	}

	blockquote {
		margin: 10px 0;
		border-left: 4px solid $themeColor1;
		p {
			padding-left: 16px;
		}
		pre {
			margin: 10px 20px;
		}
		ol {
			margin-left: 20px;
		}
	}

	table {
		width: 100%;
		th,
		td {
			padding: 4px 8px;
			border: 1px solid #ffffff;
		}
	}

	pre {
		margin: 10px 0;
		padding: 24px;
		background-color: #282D3F;
		border-radius: 12px;
		overflow: scroll;
		overflow-y: hidden;

		code {
			margin: 0;
			background-color: transparent;
		}
		code::before {
			content: "";
		}
		code::after {
			content: "";
		}
	}
	pre::-webkit-scrollbar {
		height: 0px;
	}
	code {
		margin: 0 4px;
		border-radius: 4px;
		color: $themeColor1
	}
	code::before {
		content: " ";
		color: $themeColor1;
	}
	code::after {
		content: " ";
		color: $themeColor1;
	}

	img {
		width: 100%;
		border-radius: 12px;
		margin: 10px 0;
	}
}