.appFooter {
	.content {
		height: 100%;
		margin: 0 auto;
		@include flex_center($content: space-between);

		.top {
			width: 100%;
			@include flex_center($direction: row, $content: space-between);
			.topLeft {
				@include flex_center($direction: row, $content: flex-start);
				img {
					width: 64px;
					height: 64px;
					margin: 24px 0;
					margin-right: 24px;
					border-radius: 14px;
					background-color: #ffffff;
					border: 1px solid $border_color;
				}
				ul {
					display: flex;
					li {
						margin-left: 12px;
						list-style: none;
						a {
							color: #ffffff;
							.icon {
								font-size: 2rem;
							}
						}
						a:hover {
							color: #a85859;
						}
					}
				}
			}
			.topRight {
				display: flex;
				.list {
					margin-left: 16px;
					.item {
						margin: 12px 0;
						list-style: none;
						a {
							@include flex_center($direction: row);
							.icon {
								margin-left: 4px;
							}
						}
					}
				}
			}
		}
		.bottom {
			width: 100%;
			@include flex_center($direction: row, $content: space-between);
			.bottomLeft {
				.icp {
					color: $font_tint_color_1;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.appFooter {
		.content {
			margin: 0;
			padding: 0 20px;
			.top {
				flex-direction: column;
				margin-bottom: 32px;
				.topLeft {
					width: 100%;
					@include flex_center($direction: row);
					img {
						display: none;
					}
					ul {
						li {
							margin: 0 12px;
						}
					}
				}
			}
			.bottom {
				.bottomLeft {
					p {
						text-align: center;
					}
				}
			}
		}
	}
}
