.appFooter {
    .up {
        display: flex;
        justify-content: space-between;
        .menu {
            padding: 20px 0;
            .item {
                list-style: none;
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
        .info {
            padding: 20px 0;
            .icp {
                color: $font_tint_color_2;
            }
        }
    }
    .headerBar {
        width: 100%;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .appFooter {
        display: flex;
        flex-direction: column;
        * {
            font-size: 0.8rem;
        }
        .menu,
        .info {
            padding: 10px 0;
        }
    }
}
