.appHeader {
	height: 100%;
	.content {
		height: 100%;
		margin: 0 auto;
		@include flex_center($direction: row, $content: space-between);
		.articleInfo {
			width: 100%;
			.classification {
				.tags {
					margin-right: 4px;
				}
			}
		}
		.menu {
			width: 100%;
			height: 100%;
			@include flex_center($direction: row, $content: end);

			.mainmenu {
				height: 100%;
				@include flex_center($direction: row);

				.item {
					margin: 0 2px;
					list-style: none;
					@include flex_center($direction: row);
					a {
						text-decoration: none;
						font-size: 1rem;
						font-weight: bold;

						.icon {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.appHeader {
		height: 48px;
		.content {
			padding: 0 12px;
			.articleInfo {
			    display: none;
			}
			.menu {
				.mainmenu {
					.item {
						margin: 0 6px;
						a {
							font-size: 0.8rem;
							.icon {
								margin: 0 6px;
								display: flex;
								font-size: 1.2rem;
							}
							.text {
								display: none;
							}
						}
					}
					.spot {
						display: none;
					}
				}
			}
		}
	}
}