* {
    margin: 0;
    padding: 0;
    font-family: ComicShannsMonoNerdFontMono;
}

@font-face {
    font-family: ComicShannsMonoNerdFontMono;
    src: url(/ComicShannsMonoNerdFontMono-Regular.otf);
}
