@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
	--color-pinkline-50: oklch(0.97 0.02 21.2);
	--color-pinkline-100: oklch(0.92 0.04 21.2);
	--color-pinkline-200: oklch(0.86 0.06 21.2);
	--color-pinkline-300: oklch(0.8 0.08 21.2);
	--color-pinkline-400: oklch(0.74 0.09 21.2);
	--color-pinkline-500: oklch(0.726 0.089 21.2);
	--color-pinkline-600: oklch(0.62 0.095 21.2);
	--color-pinkline-700: oklch(0.54 0.085 21.2);
	--color-pinkline-800: oklch(0.45 0.07 21.2);
	--color-pinkline-900: oklch(0.36 0.05 21.2);
	--color-pinkline-950: oklch(0.28 0.03 21.2);
}
@custom-variant dark (&:where(.dark, .dark *));

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	text-decoration: none;
}

.dark {
	background-color: #09090b;
}
