.hasemoji {
    .emoji {
        display: inline;
        width: 32px;
        height: 32px;
        margin: 0 6px;
    }
}

.prose {
    max-width: 100% !important;
}

@font-face {
	font-family: HanaMeatbald;
	src: url(./font/HanaMeatball-Medium.ttf);
}

@font-face {
	font-family: ComicShannsMonoNerdFont;
	src: url(./font/ComicShannsMonoNerdFont-Regular.otf);
}

* {
	font-family: HanaMeatbald;
}

code {
	font-family: ComicShannsMonoNerdFont;

    span {
        font-family: ComicShannsMonoNerdFont;
    }
}

pre {
    font-size: 0.9em;
}
